#root{
  height: 100vh;
}
* {
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: Rubik ,sans-serif;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.20002500712871552px;
  margin: 0;
}